@import "tailwindcss";

body {
  font-family: "Poppins", sans-serif;
  background: #11071f;
  color: white;
}
h1,
h3,
h4,
h5 {
  font-family: "Preahvihear", sans-serif;
}
h2,
p {
  font-family: "Poppins", sans-serif;
}
li {
  font-family: "Plus Jakarta Sans", sans-serif;
}
